@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background: transparent;
  color: #eeeeef;
  font-size: 14px;
  font-family: "Fira sans Semibold", "Hack Nerd Font";
}

#workspaces button {
  padding: 0 5px;
  color: #eeeeef;
}

/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: @color11;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#custom-updates,
#network,
#taskbar,
#custom-appmenu,
#custom-exit {
  font-size: 16px;
  padding: 4px 12px;
  background-color: #303643;
  border-radius: 18px;
  margin: 10px 4px;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}

#taskbar.empty,
#window.empty {
  background-color: transparent;
  margin: 10px 0;
  padding: 4px 0;
}

#custom-appmenu {
  margin-left: 15px;
}

#custom-exit {
  margin-right: 15px;
}

#custom-filemanager,
#custom-brave,
#custom-chatgpt {
  font-size: 16px;
  padding: 4px;
  margin: 10px 4px;
  margin-bottom: 0;
  color: @color0;
}
