window {
  margin: 0px;
  border: none;
  box-shadow: none;
  background-color: rgba(36, 36, 36, 0.9);
}

#outer-box {
  margin: 0px;
  border: none;
  background-color: transparent;
}

#inner-box {
  margin: 0px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#input {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  color: #dedede;
  background-color: rgba(36, 36, 36, 0.9);
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  outline: none;
  box-shadow: none;
}

#entry {
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  color: #dedede;
}

#entry:selected {
  background-color: rgba(8, 96, 242, 0.9); /* bg2 */
  color: #ffffff;
}

#text {
  color: inherit;
}

#img {
  margin-right: 8px;
  vertical-align: middle;
}
